//! **************************************************************************
// Written by: Map P.20131013 on Fri Apr 08 12:10:45 2016
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "P65";
PROHIBIT = SITE "P39";
PROHIBIT = SITE "P70";
PROHIBIT = SITE "P64";
PROHIBIT = SITE "P60";
PROHIBIT = SITE "P74";
PROHIBIT = SITE "P38";
PROHIBIT = SITE "P69";
PROHIBIT = SITE "P144";
COMP "reset_l" LOCATE = SITE "P78" LEVEL 1;
COMP "wr_l" LOCATE = SITE "P101" LEVEL 1;
COMP "data<0>" LOCATE = SITE "P116" LEVEL 1;
COMP "data<1>" LOCATE = SITE "P117" LEVEL 1;
COMP "data<2>" LOCATE = SITE "P118" LEVEL 1;
COMP "data<3>" LOCATE = SITE "P121" LEVEL 1;
COMP "siwua" LOCATE = SITE "P80" LEVEL 1;
COMP "data<4>" LOCATE = SITE "P137" LEVEL 1;
COMP "data<5>" LOCATE = SITE "P138" LEVEL 1;
COMP "data<6>" LOCATE = SITE "P141" LEVEL 1;
COMP "data<7>" LOCATE = SITE "P142" LEVEL 1;
COMP "b0" LOCATE = SITE "P6" LEVEL 1;
COMP "b1" LOCATE = SITE "P5" LEVEL 1;
COMP "b2" LOCATE = SITE "P2" LEVEL 1;
COMP "g0" LOCATE = SITE "P9" LEVEL 1;
COMP "g1" LOCATE = SITE "P8" LEVEL 1;
COMP "g2" LOCATE = SITE "P7" LEVEL 1;
COMP "rxf_l" LOCATE = SITE "P99" LEVEL 1;
COMP "oe_l" LOCATE = SITE "P100" LEVEL 1;
COMP "v_sync" LOCATE = SITE "P35" LEVEL 1;
COMP "h_sync" LOCATE = SITE "P33" LEVEL 1;
COMP "r0" LOCATE = SITE "P12" LEVEL 1;
COMP "r1" LOCATE = SITE "P11" LEVEL 1;
COMP "r2" LOCATE = SITE "P10" LEVEL 1;
COMP "rd_l" LOCATE = SITE "P98" LEVEL 1;
COMP "txe_l" LOCATE = SITE "P102" LEVEL 1;
COMP "clk_in" LOCATE = SITE "P84" LEVEL 1;
TIMEGRP v_clk = BEL "tmp_h_sync" BEL "tmp_v_sync" BEL "h_sync" BEL "v_sync"
        BEL "h_counter_0" BEL "h_counter_1" BEL "h_counter_2" BEL
        "h_counter_3" BEL "h_counter_4" BEL "h_counter_5" BEL "h_counter_6"
        BEL "h_counter_7" BEL "h_counter_8" BEL "h_counter_9" BEL
        "v_counter_0" BEL "v_counter_1" BEL "v_counter_2" BEL "v_counter_3"
        BEL "v_counter_4" BEL "v_counter_5" BEL "v_counter_6" BEL
        "v_counter_7" BEL "v_counter_8" BEL "v_counter_9" BEL "Mshreg_r1_OBUF"
        BEL "r1_OBUF1" BEL "Mshreg_r0_OBUF" BEL "r0_OBUF1" BEL
        "Mshreg_g0_OBUF" BEL "g0_OBUF1" BEL "Mshreg_g2_OBUF" BEL "g2_OBUF1"
        BEL "Mshreg_r2_OBUF" BEL "r2_OBUF1" BEL "Mshreg_g1_OBUF" BEL
        "g1_OBUF1" BEL "Mshreg_b2_OBUF" BEL "b2_OBUF1" BEL "Mshreg_b0_OBUF"
        BEL "b0_OBUF1" BEL "Mshreg_b1_OBUF" BEL "b1_OBUF1";
TIMEGRP clkControl_clkfx = BEL "tmp_h_sync" BEL "tmp_v_sync" BEL "h_sync" BEL
        "v_sync" BEL "clkControl/clkout2_buf" BEL "h_counter_0" BEL
        "h_counter_1" BEL "h_counter_2" BEL "h_counter_3" BEL "h_counter_4"
        BEL "h_counter_5" BEL "h_counter_6" BEL "h_counter_7" BEL
        "h_counter_8" BEL "h_counter_9" BEL "v_counter_0" BEL "v_counter_1"
        BEL "v_counter_2" BEL "v_counter_3" BEL "v_counter_4" BEL
        "v_counter_5" BEL "v_counter_6" BEL "v_counter_7" BEL "v_counter_8"
        BEL "v_counter_9" BEL "Mshreg_r1_OBUF" BEL "r1_OBUF1" BEL
        "Mshreg_r0_OBUF" BEL "r0_OBUF1" BEL "Mshreg_g0_OBUF" BEL "g0_OBUF1"
        BEL "Mshreg_g2_OBUF" BEL "g2_OBUF1" BEL "Mshreg_r2_OBUF" BEL
        "r2_OBUF1" BEL "Mshreg_g1_OBUF" BEL "g1_OBUF1" BEL "Mshreg_b2_OBUF"
        BEL "b2_OBUF1" BEL "Mshreg_b0_OBUF" BEL "b0_OBUF1" BEL
        "Mshreg_b1_OBUF" BEL "b1_OBUF1";
PIN SP6_INS_BUFIO2FB_DCM_ML_BUFIO2FB_1_pins<1> = BEL
        "SP6_INS_BUFIO2FB_DCM_ML_BUFIO2FB_1" PINNAME O;
PIN clkControl/dcm_sp_inst_pins<1> = BEL "clkControl/dcm_sp_inst" PINNAME
        CLKFB;
TIMEGRP clkControl_clk0 = BEL "state_FSM_FFd11" BEL "state_FSM_FFd10" BEL
        "state_FSM_FFd7" BEL "state_FSM_FFd6" BEL "state_FSM_FFd9" BEL
        "state_FSM_FFd5" BEL "state_FSM_FFd8" BEL "wr_l" BEL "siwua" BEL
        "rd_l" BEL "oe_l" BEL "Mshreg_state_FSM_FFd3" BEL "state_FSM_FFd3" BEL
        "Mshreg_state_FSM_FFd1" BEL "state_FSM_FFd1" BEL
        "clkControl/clkout1_buf" PIN
        "SP6_INS_BUFIO2FB_DCM_ML_BUFIO2FB_1_pins<1>" PIN
        "clkControl/dcm_sp_inst_pins<1>";
PIN SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0> = BEL "SP6_BUFIO_INSERT_ML_BUFIO2_0"
        PINNAME DIVCLK;
PIN clkControl/dcm_sp_inst_pins<3> = BEL "clkControl/dcm_sp_inst" PINNAME
        CLKIN;
TIMEGRP clk_in = PIN "SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0>" PIN
        "clkControl/dcm_sp_inst_pins<3>";
TS_1 = PERIOD TIMEGRP "clk_in" 16.666 ns HIGH 50%;
TS_2 = PERIOD TIMEGRP "v_clk" 40 ns HIGH 50%;
TS_clkControl_clkfx = PERIOD TIMEGRP "clkControl_clkfx" TS_1 / 0.416666667
        HIGH 50%;
TS_clkControl_clk0 = PERIOD TIMEGRP "clkControl_clk0" TS_1 HIGH 50%;
OFFSET = OUT 5.667 ns AFTER COMP "clk_in";
OFFSET = IN 9 ns VALID 9.5 ns BEFORE COMP "clk_in";
SCHEMATIC END;

